{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="maininfo col-sm-8 col-sm-offset-2">
                <h5 class="welcome_message" align="justify" font-style="oblique">Welcome to Fanus, This is a website designed to help Tigrigna speaking people learn Dutch in an easy and interactive way. Feel free to explore everything. We also look forward for your invaluable inputs to make the website even better. This website is developed by three Eritreans residing in the Netherlands, they strive to solve the problems that they have seen and experienced firsthand in the Netherlands. This website is a first of its kind and it is under constant renewal and imporvement.</h5>
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
             <div class="start_button col-sm-2 col-sm-offset-5">
                 <a href="/register" type="button" class="btn btn-success">Register to start</a>
             </div>
         </div>
    </div>
{% endblock %}